<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>1-component</title>
</head>

<body>
    <div id="app">
        <child></child>
    </div>
</body>

</html>
<template id="child">
  <div>
    hello {{name}}
    <pre>
      &lt;html&gt;
      
      &lt;head&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;loadxmldoc.js&quot;&gt;
      &lt;/script&gt;
      &lt;/head&gt;
      
      &lt;body&gt;
      
        &lt;script type=&quot;text/javascript&quot;&gt;
          xmlDoc=<a href="dom_loadxmldoc.asp">loadXMLDoc</a>(&quot;books.xml&quot;);
          document.write(&quot;xmlDoc is loaded, ready for use&quot;);
        &lt;/script&gt;
      
      &lt;/body&gt;
      
      &lt;/html&gt;
      </pre>
  </div>
</template>
<script>
    let child = {
        template: '#child',

        data() {
            return {
                name: 'yiman'
            }
        }
    };
    new Vue({
        el: '#app',
        data: {

        },
        components: {
            child
        }
    })
</script>